*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(124, 136, 136);
}
body{
    display: flex;
    flex-direction: column;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin: 2%;
}
.images{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 5rem;
}
.images img{
    width: 400px;
}
