@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "Overpass", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(216, 12%, 8%);
    padding: 200px;
}
.container{
    background-image: linear-gradient(to bottom,hsl(212, 18%, 14%),hsl(220, 16%, 11%));
    padding: 30px;
    border-radius: 2vh;
    max-width: 400px;
}
.container img {
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    margin-bottom: 25px;
} 
.container h1{
  color: #fff;
  margin: 0px 0px 10px;
}
p{
    color: hsl(217, 12%, 63%);
    line-height: 1.8;
    width: 105%;
}
.container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container ul li {
    margin: 18px 0px 20px 0px;
}
.btn {
    background-color: hsl(213, 19%, 18%);
    width: 3rem;
    height: 3rem;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: hsl(217, 12%, 63%);
}
.btn-submit {
    background-color: hsl(25, 97%, 53%);
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 30px;
    letter-spacing: 5px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}
.btn-submit:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}
.btn:focus {
    background-color: hsl(25, 97%, 53%);
}

/* THANK YOU */
.thank-you{
    background-image: linear-gradient(to bottom,hsl(212, 18%, 14%),hsl(220, 16%, 11%));
    padding: 30px;
    text-align: center;
    border-radius: 2vh;
    max-width: 400px;
    min-width: 300px;
}
.thank-you img{
    width: 100px;
}
.gray{
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    padding: 3px;
    border-radius: 30px;
    margin: 10px 0px 25px 0px;
}
.thank-you h2{
    color: #fff;
    margin: 0px 0px 20px 0px;
}

/* ATTRIBUTION */
.attribution{
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    width: 400px;
    text-align: center;
}
.attribution a{
    color: #517dca;
}
